.card {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--white);
  box-shadow: rgba(9, 30, 66, 0.25) 0 1px 0;
  transition: background-color 0.2s ease-in;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  &__title {
    font-size: 0.875rem;
    color: var(--gray);
    word-break: break-word;
    margin-bottom: 0.5rem;
  }

  &__comments {
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
    background-color: rgb(223, 225, 230);
    color: rgb(23, 43, 77);
    font-size: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    align-self: flex-end;
  }
}
